In [1]:
import pandas as pd

In [43]:
df=pd.read_csv("customer_shopping_behavior.csv")
df.head(10)
df.to_csv('customer_shopping',index=False)

In [42]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [8]:
df.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [10]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [11]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
df['Review Rating'].skew()

np.float64(0.0013552919012980596)

In [14]:
df['Review Rating'].mean()

np.float64(3.750064716541548)

In [16]:
df['Review Rating'].sum()

np.float64(14486.5)

In [17]:
df['Review Rating'].max()

np.float64(5.0)

In [18]:
df['Review Rating'].min()

np.float64(2.5)

In [19]:
df['Review Rating']=df['Review Rating'].fillna(df['Review Rating'].median())

In [20]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [21]:
df['Review Rating']=df['Review Rating'].fillna(df['Review Rating'].median())

In [22]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [23]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [25]:
df.tail(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
3890,3891,35,Female,Shirt,Clothing,81,Nebraska,XL,Green,Winter,2.6,No,Standard,No,No,33,Debit Card,Annually
3891,3892,36,Female,Dress,Clothing,30,Colorado,L,Peach,Winter,4.7,No,Free Shipping,No,No,6,Bank Transfer,Quarterly
3892,3893,35,Female,Jewelry,Accessories,86,Michigan,L,Indigo,Summer,3.5,No,Standard,No,No,5,PayPal,Fortnightly
3893,3894,21,Female,Hat,Accessories,64,Massachusetts,L,White,Fall,3.3,No,Store Pickup,No,No,29,Bank Transfer,Bi-Weekly
3894,3895,66,Female,Skirt,Clothing,78,Connecticut,L,White,Spring,3.9,No,2-Day Shipping,No,No,44,Credit Card,Every 3 Months
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [29]:
df=pd.read_excel('Emp Details XL.xlsx')

C:\Users\SATHYA\PycharmProjects\PythonProject\.venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Web Extension extension is not supported and will be removed
  warn(msg)

In [28]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\sathya\pycharmprojects\pythonproject\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\sathya\pycharmprojects\pythonproject\.venv\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
df.columns

Index(['Emp ID', 'First Name', 'Dept', 'Desig', 'Gender', 'DoJoin', 'DoBirth',
       'Salary', 'Location', 'R Type'],
      dtype='object')

In [31]:
df.isnull().sum()

Emp ID        0
First Name    0
Dept          0
Desig         0
Gender        0
DoJoin        0
DoBirth       0
Salary        0
Location      0
R Type        0
dtype: int64

In [32]:
df.head()

,Emp ID,First Name,Dept,Desig,Gender,DoJoin,DoBirth,Salary,Location,R Type
0,101,Rajaram Sundaram,sales,Sales Executive,Male,2019-01-10,1980-01-16,12000,chennai,C
1,102,Abinaya Krishnamoorthy,sales,Sales Executive,Female,2021-02-15,1999-03-22,10000,chennai,T
2,103,Naveen Chidambaram,accounts,Manager,Male,2023-01-19,1985-04-18,15000,chennai,R
3,104,Shabeer Salman Khan,accounts,Junior Executive,Male,2023-02-26,1990-06-14,10000,delhi,C
4,105,Sureshkumar Venkatesan,sales,Sales Manager,Male,2016-04-29,1999-07-31,38000,chennai,R

In [34]:
df.describe()

           Emp ID               DoJoin              DoBirth        Salary
count   12.000000                   12                   12     12.000000
mean   106.500000  2021-06-01 22:00:00  1993-01-02 14:00:00  21583.333333
min    101.000000  2015-08-23 00:00:00  1980-01-16 00:00:00  10000.000000
25%    103.750000  2018-11-22 12:00:00  1985-06-17 00:00:00  12000.000000
50%    106.500000  2023-02-07 00:00:00  1994-11-01 12:00:00  13500.000000
75%    109.250000  2024-01-02 12:00:00  1999-10-26 00:00:00  38000.000000
max    112.000000  2024-07-16 00:00:00  2003-09-10 00:00:00  45000.000000
std      3.605551                  NaN                  NaN  13976.983244

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Emp ID      12 non-null     int64
 1   First Name  12 non-null     object
 2   Dept        12 non-null     object
 3   Desig       12 non-null     object
 4   Gender      12 non-null     object
 5   DoJoin      12 non-null     datetime64[ns]
 6   DoBirth     12 non-null     datetime64[ns]
 7   Salary      12 non-null     int64
 8   Location    12 non-null     object
 9   R Type      12 non-null     object
dtypes: datetime64[ns](2), int64(2), object(6)
memory usage: 1.1+ KB

df.to_csv('emp.csv'.index=False)

In [40]:
df.to_csv('first_five',index=False)

In [39]:
df

,Emp ID,First Name,Dept,Desig,Gender,DoJoin,DoBirth,Salary,Location,R Type
0,101,Rajaram Sundaram,sales,Sales Executive,Male,2019-01-10,1980-01-16,12000,chennai,C
1,102,Abinaya Krishnamoorthy,sales,Sales Executive,Female,2021-02-15,1999-03-22,10000,chennai,T
2,103,Naveen Chidambaram,accounts,Manager,Male,2023-01-19,1985-04-18,15000,chennai,R
3,104,Shabeer Salman Khan,accounts,Junior Executive,Male,2023-02-26,1990-06-14,10000,delhi,C
4,105,Sureshkumar Venkatesan,sales,Sales Manager,Male,2016-04-29,1999-07-31,38000,chennai,R
5,106,Gayathri Srinivasan,IT,Developer,Female,2018-06-30,1980-12-11,40000,delhi,R
6,107,Anu Rajagopal,IT,Testing,Female,2015-08-23,2003-09-10,12000,bangalore,I
7,108,Ashokumar Maheswaran,IT,Testing,Male,2023-12-17,2001-06-15,12000,chennai,I
8,109,Charles Joseph,sales,Sales Manager,Male,2024-07-16,2000-05-05,38000,delhi,R
9,110,Ashok Narayanan,IT,Developer,Male,2024-03-13,1999-08-23,45000,bangalore,R
10,111,Annie David,accounts,Manager,Female,2024-02-21,1985-07-07,15000,delhi,R
11,112,Kavya Rajkumar,sales,Sales Executive,Female,2023-05-14,1989-11-27,12000,bangalore,I