In [3]:
df=pd.read_csv('customer_shopping_behavior.csv')

In [5]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [6]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [2]:
import pandas as pd

In [7]:
df.tail()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [9]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [13]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [14]:
df.shape

(3900, 18)

In [16]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [20]:
df['Review Rating']=df['Review Rating'].fillna(df['Review Rating'])

In [21]:
print(df)

      Customer ID  Age  Gender Item Purchased     Category  \
0               1   55    Male         Blouse     Clothing
1               2   19    Male        Sweater     Clothing
2               3   50    Male          Jeans     Clothing
3               4   21    Male        Sandals     Footwear
4               5   45    Male         Blouse     Clothing
...           ...  ...     ...            ...          ...
3895         3896   40  Female         Hoodie     Clothing
3896         3897   52  Female       Backpack  Accessories
3897         3898   46  Female           Belt  Accessories
3898         3899   44  Female          Shoes     Footwear
3899         3900   52  Female        Handbag  Accessories

      Purchase Amount (USD)       Location Size      Color  Season  \
0                        53       Kentucky    L       Gray  Winter
1                        64          Maine    L     Maroon  Winter
2                        73  Massachusetts    S     Maroon  Spring
3                        90   Rhode Island    M     Maroon  Spring
4                        49         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                     28       Virginia    L  Turquoise  Summer
3896                     49           Iowa    L      White  Spring
3897                     33     New Jersey    L      Green  Spring
3898                     77      Minnesota    S      Brown  Summer
3899                     81     California    M      Beige  Spring

      Review Rating Subscription Status   Shipping Type Discount Applied  \
0               3.1                 Yes         Express              Yes
1               3.1                 Yes         Express              Yes
2               3.1                 Yes   Free Shipping              Yes
3               3.5                 Yes    Next Day Air              Yes
4               2.7                 Yes   Free Shipping              Yes
...             ...                 ...             ...              ...
3895            4.2                  No  2-Day Shipping               No
3896            4.5                  No    Store Pickup               No
3897            2.9                  No        Standard               No
3898            3.8                  No         Express               No
3899            3.1                  No    Store Pickup               No

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
0                Yes                  14          Venmo            Fortnightly
1                Yes                   2           Cash            Fortnightly
2                Yes                  23    Credit Card                 Weekly
3                Yes                  49         PayPal                 Weekly
4                Yes                  31         PayPal               Annually
...              ...                 ...            ...                    ...
3895              No                  32          Venmo                 Weekly
3896              No                  41  Bank Transfer              Bi-Weekly
3897              No                  24          Venmo              Quarterly
3898              No                  24          Venmo                 Weekly
3899              No                  33          Venmo              Quarterly

[3900 rows x 18 columns]

In [22]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [25]:
df['Review Rating']=df['Review Rating'].fillna(df['Review Rating'].median())

In [26]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [27]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3895    False
3896    False
3897    False
3898    False
3899    False
Length: 3900, dtype: bool

In [33]:
df=pd.Series([10,20,30,40,50,50])

In [34]:
print(df)

0    10
1    20
2    30
3    40
4    50
5    50
dtype: int64

In [35]:
df.dtype

dtype('int64')

In [36]:
food_menu=pd.Series(['dosa','idly','vadai'])

In [37]:
print(food_menu)

0     dosa
1     idly
2    vadai
dtype: object

In [39]:
food_price=pd.Series([100,25,45])

In [40]:
print(food_price)

0    100
1     25
2     45
dtype: int64

In [52]:
df1=pd.DataFrame({'food_menu':['dosa','idly','vadai']})

In [53]:
print(df1)

  food_menu
0      dosa
1      idly
2     vadai

In [47]:
df2=pd.DataFrame({'food_price':[24,56,78]})

In [48]:
print(df2)

   food_price
0          24
1          56
2          78

In [56]:
result=pd.concat([df1+df2],axis=1)

In [57]:
print(result)

  food_menu  food_price
0       NaN         NaN
1       NaN         NaN
2       NaN         NaN

In [58]:
food_type=pd.Series(['idly','vadai','dosa'])

In [62]:
food_price=pd.Series([24,56,78])

In [63]:
print(food_type)

0     idly
1    vadai
2     dosa
dtype: object

In [64]:
print(food_price)

0    24
1    56
2    78
dtype: int64

In [67]:
food_menu=pd.DataFrame({'food_type':food_type,'food_price':food_price})

In [68]:
food_menu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   food_type   3 non-null      object
 1   food_price  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [69]:
print(food_menu)

  food_type  food_price
0      idly          24
1     vadai          56
2      dosa          78

In [70]:
df.head()

  food_menu
0      dosa
1      idly
2     vadai

In [71]:
df.tail()

  food_menu
0      dosa
1      idly
2     vadai

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   food_menu  3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [73]:
df.describe()

       food_menu
count          3
unique         3
top         dosa
freq           1

In [74]:
df.shape

(3, 1)

In [75]:
food_menu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   food_type   3 non-null      object
 1   food_price  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [76]:
food_menu.describe()

       food_price
count    3.000000
mean    52.666667
std     27.153882
min     24.000000
25%     40.000000
50%     56.000000
75%     67.000000
max     78.000000

In [77]:
food_menu.shape

(3, 2)

In [78]:
food_menu.isnull().sum()

food_type     0
food_price    0
dtype: int64

In [81]:
food_menu.columns

Index(['food_type', 'food_price'], dtype='object')

In [82]:
food_menu.rename

<bound method DataFrame.rename of   food_type  food_price
0      idly          24
1     vadai          56
2      dosa          78>

In [83]:
import pandas as pd

In [93]:
df=pd.read_excel('Emp Details XL.xlsx')

C:\Users\SATHYA\PycharmProjects\PythonProject\.venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Web Extension extension is not supported and will be removed
  warn(msg)

In [94]:
df

,Emp ID,First Name,Dept,Desig,Gender,DoJoin,DoBirth,Salary,Location,R Type
0,101,Rajaram Sundaram,sales,Sales Executive,Male,2019-01-10,1980-01-16,12000,chennai,C
1,102,Abinaya Krishnamoorthy,sales,Sales Executive,Female,2021-02-15,1999-03-22,10000,chennai,T
2,103,Naveen Chidambaram,accounts,Manager,Male,2023-01-19,1985-04-18,15000,chennai,R
3,104,Shabeer Salman Khan,accounts,Junior Executive,Male,2023-02-26,1990-06-14,10000,delhi,C
4,105,Sureshkumar Venkatesan,sales,Sales Manager,Male,2016-04-29,1999-07-31,38000,chennai,R
5,106,Gayathri Srinivasan,IT,Developer,Female,2018-06-30,1980-12-11,40000,delhi,R
6,107,Anu Rajagopal,IT,Testing,Female,2015-08-23,2003-09-10,12000,bangalore,I
7,108,Ashokumar Maheswaran,IT,Testing,Male,2023-12-17,2001-06-15,12000,chennai,I
8,109,Charles Joseph,sales,Sales Manager,Male,2024-07-16,2000-05-05,38000,delhi,R
9,110,Ashok Narayanan,IT,Developer,Male,2024-03-13,1999-08-23,45000,bangalore,R
10,111,Annie David,accounts,Manager,Female,2024-02-21,1985-07-07,15000,delhi,R
11,112,Kavya Rajkumar,sales,Sales Executive,Female,2023-05-14,1989-11-27,12000,bangalore,I

In [97]:
df.groupby('Gender')['Salary'].sum()

Gender
Female     89000
Male      170000
Name: Salary, dtype: int64

In [102]:
df.groupby('Gender')['Salary'].mean()

Gender
Female    17800.000000
Male      24285.714286
Name: Salary, dtype: float64

In [104]:
df.groupby('Gender')['Salary'].max()

Gender
Female    40000
Male      45000
Name: Salary, dtype: int64

In [105]:
df.groupby('Gender')['Salary'].min()

Gender
Female    10000
Male      10000
Name: Salary, dtype: int64

In [109]:
df.groupby('Gender')['Emp ID'].count()

Gender
Female    5
Male      7
Name: Emp ID, dtype: int64

In [113]:
df.groupby(['Gender','Dept'])['Emp ID'].count()

Gender  Dept
Female  IT          2
        accounts    1
        sales       2
Male    IT          2
        accounts    2
        sales       3
Name: Emp ID, dtype: int64

In [122]:
df.groupby(['Gender','Dept','Desig'])['Salary'].agg(['sum','max','mean'])

                                    sum    max     mean
Gender Dept     Desig
Female IT       Developer         40000  40000  40000.0
                Testing           12000  12000  12000.0
       accounts Manager           15000  15000  15000.0
       sales    Sales Executive   22000  12000  11000.0
Male   IT       Developer         45000  45000  45000.0
                Testing           12000  12000  12000.0
       accounts Junior Executive  10000  10000  10000.0
                Manager           15000  15000  15000.0
       sales    Sales Executive   12000  12000  12000.0
                Sales Manager     76000  38000  38000.0

In [132]:
df.groupby('Gender',as_index=False)['Salary'].sum().sort_values('Salary',ascending=False)

   Gender  Salary
1    Male  170000
0  Female   89000

In [141]:
df['Desig'].unique()

array(['Sales Executive', 'Manager', 'Junior Executive', 'Sales Manager',
       'Developer', 'Testing'], dtype=object)

In [139]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [142]:
df['Salary'].unique()

array([12000, 10000, 15000, 38000, 40000, 45000])

In [146]:
df['R Type'].unique()

array(['C', 'T', 'R', 'I'], dtype=object)

In [154]:
df.groupby('Gender')['Salary'].sum()

Gender
Female     89000
Male      170000
Name: Salary, dtype: int64

In [145]:
df.columns

Index(['Emp ID', 'First Name', 'Dept', 'Desig', 'Gender', 'DoJoin', 'DoBirth',
       'Salary', 'Location', 'R Type'],
      dtype='object')